* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav-logo {
    height: 50px;
    width: 10%;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("assets/images/amazon_logo.png");
    height: 27px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.icon {
    display: flex;
    align-items: center;
}

.deliver {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.pakistan {
    font-size: 1rem;
    margin-left: 3px;
}

.search {
    display: flex;
    background-color: pink;
    width: 50%;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select {
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 0px 4px 4px 0px;
    color: #111111;
}

span {
    font-size: 0.7rem;
}

.nav-sign-in {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.second-nav {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    width: 100%;
}

.second-nav-all{
    width: 36px;
    padding-left: 10px;
}

.second-nav-option p {
    display: inline;
    padding-left: 10px;

}

.second-nav-option {
    width: 95%;
}

.slider {
    background-image: url(assets/images/backmain.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    margin-bottom: -300px;
}

.box-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 100%;
    width: 250px;
    background-color: #f3f3f3;
    padding: 5px 0px 20px;
    margin-bottom: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-section h2 {
    font-size: 1.2rem;
}

.box-image {
    background-image: url(assets/images/diveight.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: right;
}

.box-image2 {
    background-image: url(assets/images/divthird.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image3 {
    background-image: url(assets/images/divfive.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image4 {
    background-image: url(assets/images/divsix.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image5 {
    background-image: url(assets/images/divseven.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image6 {
    background-image: url(assets/images/laptop.jpg);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image7 {
    background-image: url(assets/images/divfirst.png);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.box-image8 {
    background-image: url(assets/images/toothbrush.jpg);
    height: 250px;
    width: 90%;
    background-size: cover;
    background-position: center;
}

.image-content {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    line-height: 35px;
}

.image-content p {
    font-size: 0.85rem;
}

.image-content p a {
    text-decoration: none;
    color: rgb(75, 128, 244);
}

.image-content p a:hover {
    color: #febd68;
}

footer {
    margin-top: 40px;
    width: 100%;
}

.foot1 {
    background-color: #37475a;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 100%;
}

.foot1 a {
    text-transform: capitalize;
    color: rgb(75, 128, 244);
    font-weight: 500;
}

.foot1:hover {
    background-color: #3c4650;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foot1 a:hover {
    color: #febd68;
    font-style: italic;
}

.foo2 {
    background-color: #0f1111;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
}

ul a {
    display: block;
    font-size: 0.75rem;
    line-height: 20px;
    color: #dddddd;
}

ul p {
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 30px;
}

.foot3 {
    background-color: #0f1111;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.foot3 p {
    font-size: 0.75rem;
    padding: 0px 15px;
}

/* media quarry start */

@media screen and (max-width: 850px) and (min-width: 680px) {
    .search {
        display: flex;
        background-color: pink;
        width: 50%;
        height: 40px;
        border-radius: 4px;
        justify-content: space-between;
    }

    .search-select {
        background-color: #f3f3f3;
        width: 60px;
        text-align: center;
        border-radius: 4px 0px 0px 4px;
        border: none;
    }

    .search-icon {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-radius: 0px 4px 4px 0px;
        color: #111111;
    }

    .search-input {
        width: 100%;
        font-size: 1rem;
        border: none;
    }

    .icon {
        display: none;
        align-items: center;
    }

    .deliver {
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }

    .pakistan {
        font-size: 1rem;
        margin-left: 3px;
        display: none;
    }
    
    .slider {
        background-image: url(assets/images/backmain.png);
        height: 80vh;
        width: 100%;
        background-size: cover;
        /* background-repeat: no-repeat; */
        background-position: center;
        margin-bottom: -200px;
    }
}

@media screen and (max-width:680px) and (min-width:490px) {
    .search {
        display: flex;
        background-color: pink;
        width: 60%;
        height: 40px;
        border-radius: 4px;
        justify-content: space-between;
    }

    .search-select {
        background-color: #f3f3f3;
        width: 60px;
        text-align: center;
        border-radius: 4px 0px 0px 4px;
        border: none;
    }

    .search-icon {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-radius: 0px 4px 4px 0px;
        color: #111111;
    }

    .search-input {
        width: 100%;
        font-size: 1rem;
        border: none;
    }

    .icon {
        display: none;
        align-items: center;
    }

    .deliver {
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }

    .pakistan {
        font-size: 1rem;
        margin-left: 3px;
        display: none;
    }
    
    .slider {
        background-image: url(assets/images/backmain.png);
        height: 70vh;
        width: 100%;
        background-size: cover;
        /* background-repeat: no-repeat; */
        background-position: center;
        margin-bottom: -200px;
    }

    .sign-in{
        display: none;
    }

    .nav-logo {
        height: 40px;
        width: 140px;
        display: flex;
        align-items: center;
    }

    .logo {
        background-image: url("assets/images/amazon_logo.png");
        height: 100%;
        width: 100%;
        background-size: cover;
        /* background-repeat: no-repeat; */
    
    }

    .foo2 {
        background-color: #0f1111;
        color: white;
        height: 300px;
        display: flex;
        padding-top: 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    ul a {
        display: none;
        font-size: 0.75rem;
        line-height: 20px;
        color: #dddddd;
    }
    
    ul p {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 30px;
    }

    .foot3 p {
        font-size: 0.75rem;
        padding: 0px 5px;
    }
}

@media screen and (max-width:490px) {
    .search {
        display: flex;
        background-color: pink;
        width: 50%;
        height: 40px;
        border-radius: 4px;
        justify-content: space-between;
    }

    .search-select {
        background-color: #f3f3f3;
        width: 60px;
        text-align: center;
        border-radius: 4px 0px 0px 4px;
        border: none;
    }

    .search-icon {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-radius: 0px 4px 4px 0px;
        color: #111111;
    }

    .search-input {
        width: 100%;
        font-size: 1rem;
        border: none;
    }

    .icon {
        display: none;
        align-items: center;
    }

    .deliver {
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }

    .pakistan {
        font-size: 1rem;
        margin-left: 3px;
        display: none;
    }
    
    .slider {
        background-image: url(assets/images/backmain.png);
        height: 25vh;
        width: 100%;
        background-size: cover;
        /* background-repeat: no-repeat; */
        background-position: center;
        margin-bottom: -50px;
    }

    .sign-in{
        display: none;
    }

    .nav-logo {
        height: 20px;
        width: 75px;
        display: flex;
        align-items: center;
    }

    .second-nav-option{
        display: none;
    }

    .logo {
        background-image: url("assets/images/amazon_logo.png");
        height: 100%;
        width: 100%;
        background-size: cover;
        /* background-repeat: no-repeat; */
    
    }

    .foo2 {
        background-color: #0f1111;
        color: white;
        height: 300px;
        display: flex;
        padding-top: 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    ul a {
        display: none;
        font-size: 0.75rem;
        line-height: 20px;
        color: #dddddd;
    }
    
    ul p {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 30px;
    }

    .foot3 p {
        font-size: 0.65rem;
    }

    .nav-cart b{
        display: none;
    }
}